.card-pink{

}
img.profile-details-pic{
    max-width: 100% !important;
}
.add-more{
    max-width: 37px;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
.user-images{
    width: inherit;
}
.remove-image{
    width: 30px;
}
body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.card.profile{
        /*box-shadow: inset 0 4px 10px #e5cddf;*/
        box-shadow: 2px 6px 5px 6px #9e70898a;
}
button a{
    color: white !important;
}
.error-helper{
    color: #8b96a5;
}

.modal-backdrop.show {
    opacity: 0.9;
}
.btn-orange{
	border-radius: 25px;
	background-color: #ff8c00;
	color: #ffffff;

}
.profile-action-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.dropdown-menu {
     min-width: 1px;
}
.dropdown-toggle::after {
    content: none !important;
}
.dropdown-menu-right{
    background-color: #e4e7e8;
}
.modal-radius{
    border-radius: 1.3rem !important;
}
.text-blue{
    color: #33335fd1;
}
.text-blue span{
    color:  #e91e63;
}
.result-card{
    border: 1px solid black;
    border-radius: 12px;
}
.left-curved-image{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}