.card-pink{

}
img.profile-pic{
    max-width: 100% !important;
}
.add-more{
    max-width: 37px;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
.user-images{
    width: inherit;
}
.remove-image{
    width: 30px;
}
.profile-screen{
    background-image: linear-gradient(45deg, #b9a6b6, transparent);
    height: 100vh;
}