@font-face {
  font-family: 'Proxima Nova - Semibold';
  src: url('/static/accounts/assets/fonts/FontsFree-Net-FontsFree-Net-Proxima-Nova-Sbold.ttf') format('truetype');
}
body{
	font-family: 'Proxima Nova - Semibold';
}
.intro{
  background-color: #d34cb6;
  background-image: url("/static/frontend/images/background/intro-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.intro .container-fluid{
	padding: 0 !important;
}
.navbar.navbar-expand-lg.navbar-light {
	background: rgba(255, 255, 255, 0.6);

}
.nav-item.active{
    color: #dd115a !important;
}
.nav-item{
    color: #663096 !important;
}

.social-icons{
  position: absolute;
  top: 6px;
  right: 40px;


}
.intro .inro-container{
	margin-top: 25%;
}
.intro-header h1{
	color: #e91e63;
}
.intro-header h3{
	color: #ffffff;
}
.quick-search-box{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
}
.quicksearchDropdown{
  background-color: white;
  width: 100%;
  padding: 10px;
  border-radius: 27px;
}
.to-text{
  margin-top: auto;
  text-align: center;
}
.searchItem{
  color: #663096;
  font-size: larger;
}
.quickSearchButton{
    background-color: #ff8c00;
    border-radius: 30px;
    /* padding: 20px; */
    color: white;
    font-size: medium;
    /* font-weight: 600; */
    border: none;;
}
section.images-grid{
	background-image: -webkit-gradient(linear,left top,right top,from(#ff186b),to(#9211da));
    /*background-image: url("/static/frontend/images/gallery/Slice_9.png");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    height: 100%;
    width: 100%;
    color: #ffffff;
}
section.testimonials{
	background-image: url("/static/frontend/images/background/testimonials.png");
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.testimonials .card{
  border-radius: 2.25rem !important;
}
.profile-pic{
  width: 6rem;
  height: 6rem;
  background-color: gainsboro;
  border-radius: 50%;
}
.profile-pic img{

}
.profile-name-div{
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  font-size: x-large;
  color: slateblue;
}
.arrow{
  margin-top: auto;
  margin-bottom: auto;
  font-size: x-large;
}
.soulmate{
	height: 100%;
	background-color: #663096;
	color: #ffffff;
}
.soulmate .text-soulmate{
	margin-bottom: auto;
    margin-top: auto;
}
.soulmate .get-started-button{
	margin-bottom: auto;
    margin-top: auto;
}
.get-started-button button{
	border-radius: 49px;
    background-color: #ff8c00;
    border: none;
    color: #ffffff;
}
.get-started-button button h4{
    margin-top: auto;
    margin-bottom: auto;
}
.awards .awards-heder{
	color: #dd115a;
	font-size: -webkit-xxx-large;	
}
.card-awards-title{
  text-align: center;
}
.trophy-img{
  max-width: 31%;
  height: auto;
  margin: auto;
}
.award-text{
  font-size: 12px;
  font-weight: 600;
  color: #5f5555;
}
.award-card-body{
  padding: 1rem;
}
.awards-card .card{
  margin-left:auto;
  margin-right:auto;
}
.carousel-control-prev {
    left:none !important;
    text-align: center;
}
.carousel-control-next {
    right:none !important;
}
section.subscribe{

}
.subscribe .subscribe-head{
	color: #dd115a;
	margin-top: auto;
    margin-bottom: auto;
}
.subscribe input{
  padding: 1.25rem 1.75rem !important;
  border-radius: 50px !important;
}
.subscribe button{
  width: 100% !important;
  height: 100% !important;
  border-radius: 50px !important;
  background-color: #ff8c00;
  border: none !important;
}
.download-app h2{
	color: #dd115a;
}
.footer{
  height: 100%;
  width: 100%;
  background-color: #3e3932;
}
.footer-social-icons{
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}
.footer-social{
	margin-top: auto;
	margin-bottom: auto;
}
hr {

  border: 0;
  border-top: 1px solid white;
}
.footer-heading{
  color: white;
  padding: 1rem;
}
.footer-items h4{
  padding-left: 1rem;
  color: #969289;
}
.card{
  border-radius: 2.25rem;
}
section.ndm{
	background-color: #f7edff;
}
.ndm-header{
	color: #dd115a;
}

@media (min-width: 1000px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: 1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
img.gallery-front-images{
  vertical-align: top;
}
.gallery-front-images:nth-child(1) {
    width: 347px;
    padding: 10px;
}

.gallery-front-images:nth-child(2) {
     width: 475px;
     padding: 10px;
}
.gallery-front-images:nth-child(3) {
     width: 380px;
     padding: 10px;
}
.gallery-front-images:nth-child(4) {
     width: 380px;
     padding: 10px;
}
.gallery-front-images:nth-child(5) {
     width: 450px;
     padding: 10px;
}
.gallery-front-images:nth-child(6) {
     margin-top: -182px;
     width: 347px;
     padding: 10px;
}
.gallery-front-images:nth-child(7) {
     width: 475px;
     padding: 10px;
}
.gallery-front-images:nth-child(8) {
     margin-top: -172px;
    width: 770px;
    padding: 10px
}
.gallery-front-images:nth-child(9) {
     width: 445px;
     padding: 10px;
}
.gallery-front-images:nth-child(10) {
     margin-top: -361px;
     width: 347px;
     padding: 10px;
}
.glry-img-grid{
    display: inline-block;
    vertical-align: top;
    padding: 0.2%;
    position: relative;
}
.glry-img-grid:nth-child(1){
    width: 14%;
    height: 100%;
}
.glry-img-grid:nth-child(2){
    width: 21%;
}
.glry-img-grid:nth-child(3){
    width: 14.25%;
}
.glry-img-grid:nth-child(4){
    width: 14.25%;
}
.glry-img-grid:nth-child(5){
    width: 21%;
}
.glry-img-grid:nth-child(6){
    width: 14%;
}
.glry-img-grid:nth-child(7){
    width: 14%;
    margin-top: -9%;
}
.glry-img-grid:nth-child(8){
    width: 21%;
    margin-top: 0.5%;
}
.glry-img-grid:nth-child(9){
    width: 28.5%;
    margin-top: -9%;;
}
.glry-img-grid:nth-child(10){
    width: 21%;
    margin-top: 0.25%;
}
.glry-img-grid:nth-child(11){
   width: 14%;
  margin-top: -9%;
}
.glry-img-grid:nth-child(12){
   width: 14%;
   margin-top: -10%;
}
.glry-img-grid:nth-child(13){
   margin-top: -6%;
   width: 21%;
}
.glry-img-grid:nth-child(14){
    width: 28.5%;
    margin-top: 1%;
}
.glry-img-grid:nth-child(15){
    width: 21%;
    margin-top: -1%;
}
.glry-img-grid:nth-child(16){
    width: 14%;
    margin-top: -16%;
}
.glry-img-grid:nth-child(17){
    width: 14%;
    margin-top: -15%;
}
.glry-img-grid:nth-child(18){
    float: right;
    width: 14%;
    margin-top: -18%;
}
.glry-img-grid img{
    width: 100%;
}

@media screen and (max-width: 1400px) {
      .glry-img-grid:nth-child(1){
        width: 13%;
        height: 100%;
    }

    .glry-img-grid:nth-child(7){
        width: 13%;
        margin-top: -9%;
    }

    .glry-img-grid:nth-child(12){
       width: 13%;
       margin-top: -10%;
    }
    .glry-img-grid:nth-child(17){
        width: 13%;
        margin-top: -15%;
    }
}

@media screen and (max-width: 856px) {
      .glry-img-grid:nth-child(1){
        width: 13%;
        height: 100%;
    }
    .glry-img-grid:nth-child(6){
        width: 13%;
    }
    .glry-img-grid:nth-child(7){
        width: 13%;
        margin-top: -9%;
    }
    .glry-img-grid:nth-child(11){
       width: 13%;
      margin-top: -9%;
    }
    .glry-img-grid:nth-child(12){
       width: 13%;
       margin-top: -10%;
    }
    .glry-img-grid:nth-child(16){
        width: 13%;
        margin-top: -16%;
    }
    .glry-img-grid:nth-child(17){
        width: 13%;
        margin-top: -15%;
    }
    .glry-img-grid:nth-child(18){
        float: right;
        width: 13%;
        margin-top: -18%;
    }
}
@media screen and (max-width: 600px) {
    .glry-img-grid {
        display: inline-block;
       vertical-align: baseline;
        margin-top: 10px !important;
        width: 48% !important;
        padding: 0.2%;
    }
    .glry-img-grid img{
        height: 200px !important;
        object-fit: cover;
    }
    .profile-name-div{
        font-size: medium;
    }
    .profile-pic {
    width: 5rem;
    height: 5rem;
    }

    .gallery-progress-bar{
      margin: 2rem;
    }
}
.gallery-progress-bar{
   position: absolute;
    margin: 2rem;
    margin-bottom: 2rem;
   bottom: 0;
    left: 0;
    right: 0;
   z-index: 1000;
   background-color: #ffffff;
   padding: 5px;
   color: #1d2124;
    border-radius: 20px;
   font-weight: bold;
}
.gallery-progress-bar .fa.fa-heart{
    color: #e64c3c;
    font-size: large;
}
.gallery-progress{
    margin-top: auto;
    margin-bottom: auto;
}
.gallery-progress .progress{
    height: .5rem !important;
}
.gallery-progress .progress .progress-bar{
    background-color: #e91e63 !important;
}

@media screen and (max-width: 1200px) {
    .gallery-progress-bar{
      margin: 1px;
      margin-bottom: 2rem;
    }
}
@media screen and (max-width: 1000px) {
    .gallery-progress-bar{
      margin: 1px;
    }
}
@media screen and (max-width: 500px) {

}
.subscribe-btn{
    margin-bottom: auto;
    margin-top: auto;
    color: white;
}
.subscribe-btn h6{
    margin-top: auto;
    margin-bottom: auto;
}


.carousel-control-next, .carousel-control-prev {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.text-couples{
    color: #dd115a !important;
}

#toast-container > .toast-info {
    background-image: url("/static/frontend/images/icons/user-icon.png") !important;
    background-color: #dd115a;
    color: #ffffff;
}