.date-filter-submit{
    background-color: #d6d1ca;
    border: none;
    padding: 6px;
    border-radius: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.dropdown-date-filter:hover{
    background-color: whitesmoke !important;
}
body.dashboard-login{
    background: linear-gradient(to left, #02d6af9e, #6475c5bd, transparent), url(/static/dashboard/assets/img/dash-bg-2.jpg) no-repeat center;
    font-family: 'Fira Sans', sans-serif;
    background-size: cover;
    height: 100%;
    width: 100%;
}
body.dashboard-login h1{
    color: #2d458e;
}
.dashboard-login-container{
    padding-top: 10rem!important;
}
.dashboard-login-container .form-control{
    padding: 1rem .75rem !important;
}
.btn-dashboard-login{
    padding: 1rem;
    background-image: linear-gradient(to left, #74ebd5, #9face6);
    width: -webkit-fill-available;
    color: #ffffff;
    font-size: x-large;
}