{% load static %}
  <div class="filter-options">
    <h2 class="filter-text">Filters</h2>
    <hr class="someClass" />
    <form class="filter-results">
      <div class="form-group">
        <label for="gender"><h5>Gender</h5></label>
        <select name="gender" class="filter-form form-control reg-dropdown">
          <option value="" disabled selected>Gender</option>
          <option value="woman">Woman</option>
          <option value="men">Men</option>
          <option value="others">Others</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"><h5>Age</h5></label>
        <div id="test-slider"></div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"><h5>Height</h5></label>
        <div id="test-slider1"></div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"><h5>Location</h5></label>
        <input type="text" class="form-control filter-form location" id="exampleInputPassword1" placeholder="Bangalore">
      </div>
      <div class="form-group">
        <label for="gender"><h5>Religion</h5></label>
        <select name="gender" class="filter-form form-control reg-dropdown">
          <option value="" disabled selected>Hindu</option>
          <option value="woman">Hindu</option>
          <option value="men">Christian</option>
          <option value="others"></option>
        </select>
      </div>
      <div class="form-group">
        <label for="gender"><h5>Mother Tongue</h5></label>
        <select name="gender" class="filter-form form-control reg-dropdown">
          <option value="" disabled selected>Kannada</option>
          <option value="woman">Malayalam</option>
          <option value="men">Tamil</option>
          <option value="others">Hindi</option>
        </select>
      </div>
      <div class="p-4"></div>
      <div class="row justify-content-end">
        <div class="col-4 align-self-end">
          <button type="submit" class="btn">APPLY</button>
        </div>
      </div>

    </form>
  </div>