{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/daac62b875.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
    <!-- style.css -->
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'frontend/css/profile.css' %}" rel="stylesheet"/>

    <title>No Dowry</title>
  </head>
  <body>

    <!-- Intro section -->
    <section class="intro">
      <div class="container-fluid">

        <!-- Navbar starts here -->
          {% include 'frontend/main-nav.html' %}

        <!-- header section -->
        <div class="inro-container p-5">
          <div class="intro-header text-center">
                <h1>Find your soulmate</h1>
                <h3>India's most trusted matrimony</h3>
            </div>
            <div class="quick-search-box p-4 m-3">
                <form action="{% url 'filter' %}" method="get">
                    <div class="row">
                        <div class=" col-lg-2 col-md-4 col-sm-4 col-12">
                            <div class="dropdown show form-group">
                                <p class="searchItem">
                                    I'm looking a
                                </p>
                                <select name="gender" class="quicksearchDropdown form-control" required>
                                    <option value="men">Groom</option>
                                    <option value="woman">Bride</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-4 col-5">
                            <div class="dropdown show form-group">
                                <p  class="searchItem">
                                    aged
                                </p>
                                <select name="agefrom" class="quicksearchDropdown form-control agefrom" onchange='changeAge(this.value);' required>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2 col-2 to-text">
                            <div class="dropdown show form-group">
                                <p  class="searchItem to-text">
                                    To
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2 col-5">
                            <div class="dropdown show form-group">
                                <p  class="searchItem">
                                    &nbsp;
                                </p>
                                <select name="ageto" class="quicksearchDropdown form-control ageto" id="ageto" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                            <div class="dropdown show form-group">
                                <p  class="searchItem">
                                    of religion
                                </p>
                                <select name="religion" class="quicksearchDropdown form-control" required>
                                    <option value="">Select</option>
                                    {% for religion in religion_list %}
                                        <option value="{{ religion.id }}">{{ religion.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="dropdown show form-group">
                                <p  class="searchItem">
                                    and mother tongue
                                </p>
                                <select name="language" class="quicksearchDropdown form-control" required>
                                    <option value="">Select</option>
                                    {% for language in language_list %}
                                        <option value="{{ language.id }}">{{ language.language }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 text-center my-auto">
                            <button class="quickSearchButton px-5 py-4"">LET'S BEGIN</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </section>

    <!-- images grid section -->
    {% if user.is_authenticated %}
    <section class="images-grid">
      <div class="container-fluid">
        <p class="text-center h1 p-5">Make your own wall of matches</p>
          <div class="row">
              <div class="col-12">
                  <div class="row_first">
                      <div class="glry-img-grid text-center">
                           <img src="{% static 'frontend/images/gallery/Layer_63.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2 text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_70.png' %}">
                            <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_61.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_62.png' %}">
                            <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_57.png' %}">
                            <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_63.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_67.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_72.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_55.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_56.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_64.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_68.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_71.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_60.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_59.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_66.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_69.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      <div class="glry-img-grid">
                           <img src="{% static 'frontend/images/gallery/Layer_65.png' %}">
                          <span class="gallery-progress-bar">
                              <div class="row">
                                  <div class="col-2 col-md-2  text-right">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-6 col-md-6 gallery-progress">
                                      <div class="progress">
                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="col-1 col-lg-2 d-sm-none d-md-block d-lg-block p-0">
                                      32%
                                  </div>
                              </div>
                          </span>
                      </div>
                      {% endif %}
{#                            <img src="{% static 'frontend/images/gallery/Layer_63.png' %}" class="gallery-front-images">#}
{#                            <img src="{% static 'frontend/images/gallery/Layer_70.png' %}" class="gallery-front-images">#}
{#                            <img src="{% static 'frontend/images/gallery/Layer_61.png' %}" class="gallery-front-images">#}
{#                            <img src="{% static 'frontend/images/gallery/Layer_62.png' %}" class="gallery-front-images">#}
{#                            <img src="{% static 'frontend/images/gallery/Layer_57.png' %}" class="gallery-front-images">#}
{#                            <img src="{% static 'frontend/images/gallery/Layer_67.png' %}" class="gallery-front-images">#}
{#                            <img src="{% static 'frontend/images/gallery/Layer_72.png' %}" class="gallery-front-images">#}
{#                            <img src="{% static 'frontend/images/gallery/Layer_55.png' %}" class="gallery-front-images">#}
{#                            <img src="{% static 'frontend/images/gallery/Layer_56.png' %}" class="gallery-front-images">#}
{#                            <img src="{% static 'frontend/images/gallery/Layer_68.png' %}" class="gallery-front-images">#}
{#                            <img src="{% static 'frontend/images/gallery/Layer_55.png' %}" class="gallery-front-images">#}
                      </div>
{#                      <img src="{% static 'frontend/images/gallery/Layer_70.png' %}" class="gallery-front-images">#}
{#                      <img src="{% static 'frontend/images/gallery/Layer_61.png' %}" class="gallery-front-images">#}
{#                      <img src="{% static 'frontend/images/gallery/Layer_62.png' %}" class="gallery-front-images">#}
{#                      <img src="{% static 'frontend/images/gallery/Layer_57.png' %}" class="gallery-front-images">#}
{#                      <img src="{% static 'frontend/images/gallery/Layer_63.png' %}" class="gallery-front-images">#}
{#                      <img src="{% static 'frontend/images/gallery/Layer_67.png' %}" class="gallery-front-images">#}
{#                      <img src="{% static 'frontend/images/gallery/Layer_72.png' %}" class="gallery-front-images">#}
{#                      <img src="{% static 'frontend/images/gallery/Layer_55.png' %}" class="gallery-front-images">#}
                  </div>
              </div>
          </div>
      </div>
    </section>

    <!-- section-3 testimonials -->
    <section class="testimonials pb-5">
      <div class="container-fluid p-md-5">
      <div class="couple-text py-5">
          <div class="row">
          <div class="col-sm-12 col-12 col-lg-10">
            <h2 class="card-title text-couples">Our 'happily ever after' couples</h2>
          </div>
          <div class="col-sm-12 col-12 col-lg-5">
            <h5>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</h5>
          </div>
        </div>
      </div>
      {% if testimonial_list %}
        <div class="row pb-5">
            <div class="col-12 col-sm-12 col-lg-6 col-xl-5">
                <div class="card">

                    <div class="card-body ">
                        <h5 class="card-title card-quote"><img class="m-1" src="{% static 'frontend/images/icons/quots.png' %}" /></h5>
                        <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,</p>
                        <div class="row">
                            <div class="col-4 col-sm-3 col-md-2 col-lg-3 col-xl-3">
                                <div class="profile-pic">
                                  <img src="{% static 'frontend/images/Layer_17.png' %}" style="width: -webkit-fill-available;">
                                </div>
                            </div>
                            <div class="col-8 col-sm-5 profile-name-div">
                                <span class="profile-name">Jack daniels</span>
                            </div>
                            <div class="col-6 col-sm-2 arrow">
                                <img style="float: right; cursor: pointer" src="{% static 'frontend/images/icons/prev.png' %}" />
                            </div>
                            <div class="col-6 col-sm-2 arrow">
                                <img style="cursor: pointer" src="{% static 'frontend/images/icons/next.png' %}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {% endif %}
      </div>
    </section>
    <div class="container-fluid p-0 m-0">
        <div class="soulmate pb-3">
          <div class="row m-0">
            <div class="col-lg-4 col-md-12 text-center">
              <img src="{% static 'frontend/images/Layer_18.png' %}">
            </div>
            <div class="col-lg-5 col-md-12 text-center text-soulmate">
                <h1>Find your soulmate </h1>
                <h5>And create a wonderful story together</h5>
            </div>
            <div class="col-lg-3 col-md-12 text-center get-started-button">
                <button class="p-4"><h5 class="text-soulmate">GET STARTED</h5></button>
            </div>
          </div>
        </div>
      </div>

    <!-- awards and honours -->
    {% if awards_list %}
    <div class="awards">
      <div class="container-fluid">
        <div class="row p-5">
          <div class="col-md-12 text-center">
            <h1 class="awards-heder">Awards and Honors</h1>
          </div>
        </div>

        <div class="row">
            <div class="d-none d-sm-none d-md-block col-md-1 col-lg-1">
                <a class="carousel-control-prev pl-5 " href="#myCarousel" role="button" data-slide="prev">
                    <img src="{% static 'frontend/images/icons/awards-prev.png' %}">
                </a>
            </div>
            <div class="col-md-10 col-12 align-self-center">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner row w-100 mx-auto">

{#                        <div class="carousel-item col-lg-4 col-md-6 col-sm-12 active p-md-5 p-sm-0 p-0">#}
{#                            <div class="card" style="width: 18rem;">#}
{#                                <div class="awards-card">#}
{#                                    <div class="card" style="width: 18rem;">#}
{#                                        <div class="card-body award-card-body">#}
{#                                            <h5 class="card-title card-awards-title">Times Award</h5>#}
{#                                            <div class="text-center">#}
{#                                                <img class="trophy-img" src="{% static 'frontend/images/winner.png' %}" alt="">#}
{#                                            </div>#}
{#                                            <p class="award-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}

                        {% for awards in awards_list %}
                            {% if forloop.first %}
                                <div class="carousel-item col-lg-4 col-md-6 col-sm-12 active p-md-5 p-sm-0 p-0">
                            {% else %}
                                <div class="carousel-item col-lg-4 col-md-6 col-sm-12 p-md-5 p-sm-0 p-0">
                            {% endif %}

                            <div class="awards-card">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body award-card-body">
                                        <h5 class="card-title card-awards-title">{{ awards.name }}</h5>
                                        <div class="text-center">
                                            <img class="trophy-img" src="{% static 'frontend/images/winner.png' %}" alt="">
                                        </div>
                                        <p class="award-text">{{ awards.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}




                    </div>

{#                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">#}
{#                        <span class="carousel-control-prev-icon"></span>#}
{#                        <span class="sr-only">Previous</span>#}
{#                    </a>#}
{#                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">#}
{#                        <span class="carousel-control-next-icon"></span>#}
{#                        <span class="sr-only">Next</span>#}
{#                    </a>#}
                </div>
            </div>
            <div class="d-none d-sm-none d-md-block col-md-1 col-lg-1">
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <img src="{% static 'frontend/images/icons/arards-next.png' %}">
                </a>
            </div>
        </div>

      </div>
    </div>
    {% endif %}
    <!-- section subscribe -->
    <section class="subscribe p-md-5 pt-5">
      <div class="container-fluid">
        <div class="row justify-content-center">
           <div class="col-xl-1 col-lg-2 col-md-2 col-12 d-inline text-center">
               <img class="d-inline" src="{% static 'frontend/images/icons/subscribe.png' %}" alt="">
           </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-12 subscribe-head text-center">
                <h3>Subscribe</h3>
            </div>
        </div>
        <h4 class="text-center p-md-5 pt-5">Enter your email address and get latest offers and updates</h4>

        <form class="pb-5" action="{% url 'subscribe-mail' %}" method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                    <input type="email" name="email" class="form-control" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,7}$" required>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 pt-3 pt-md-0">
                    <button type="submit" class="btn subscribe-btn py-4"><h6>SUBSCRIBE</h6></button>
                </div>
            </div>
        </form>

      </div>
    </section>

    <!-- NDM Folklore -->
    <section class="ndm p-5" hidden>
      <div class="container">
        <h1 class="ndm-header text-center">NDM Folklore</h1>
      </div>
    </section>

    <!-- download application -->
    <div class="download-app p-5" hidden>
            <h2 class="text-center p-5">Download our app</h2>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <img src="{% static 'frontend/images/Layer_30.png' %} ">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <img src="{% static 'frontend/images/Layer_29.png' %}">
                </div>
            </div>
        </div>
    <!-- section footer -->
    {% include 'frontend/main-footer.html' %}
    <!-- footer ends here -->
    <!-- Large modal -->
{#    <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target=".bd-example-modal-lg" data-keyboard="false">Large modal</button>#}
    {% include 'frontend/profile-details-modal.html' %}




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{#    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="{% static 'frontend/js/style.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/profile-details.js' %}"></script>
    <script>

        var testArray = [];

         $(window).on('load',function(){
             {% if user_profile.first_time_login %}
                $('.bd-example-modal-lg').modal('show');
             {% endif %}
        });

        function changeAge(val){
            var $selectageto = $(".ageto");
            $selectageto.empty();
            for (i=val;i<=50;i++){
                $selectageto.append($('<option></option>').val(i).html(i))
            }
        }


      $(document).ready(function() {
            toastr.options = {
				'closeButton': true,
				'positionClass': 'toast-top-right',
				'showDuration': '5000',
				'hideDuration': '5000',
				'timeOut': '5000',
				'extendedTimeOut': '5000',
			}

			{% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'info' %}
                          toastr.info('{{ message }}')
                    {% elif message.tags == 'success' %}
                          toastr.success('{{ message }}')
                    {% endif %}
                {% endfor %}
            {% endif %}

              {% if testimonial_list %}
                  {% for testimonials in testimonial_list %}
                      testArray.push({{ testimonials.id }})
                  {% endfor %}
              {% endif %}

            $.ajax({
              url: "/testimonial-info",
              type: 'GET',
              data: {
                  test_id : 1
              },
              success: function(resultData) {
                  $.each(resultData.data, function (entry, value) {
                        console.log(value);
                  });
              }
            });






        $(function(){
            var $selectagefrom = $(".agefrom");
            for (i=18;i<=50;i++){
                $selectagefrom.append($('<option></option>').val(i).html(i))
            }

            var $ageto = $(".ageto");
            for (i=18;i<=50;i++){
                $ageto.append($('<option></option>').val(i).html(i))
            }
            $('#ageto').val(25);
        });
        console.log($("#aioConceptName").val());



        $("#myCarousel").on("slide.bs.carousel", function(e) {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 3;
            var totalItems = $(".carousel-item").length;

            if (idx >= totalItems - (itemsPerSlide - 1)) {
                var it = itemsPerSlide - (totalItems - idx);
                for (var i = 0; i < it; i++) {
                    // append slides to end
                    if (e.direction == "left") {
                        $(".carousel-item")
                            .eq(i)
                            .appendTo(".carousel-inner");
                    } else {
                        $(".carousel-item")
                            .eq(0)
                            .appendTo($(this).find(".carousel-inner"));
                    }
                }
            }
        });
    });
    </script>

  </body>
</html>