{% load static %}


<section class="footer p-5" id="footer">
  <div class="container-fluid">
    <div class="row p-5" id="footer-logo">
        <div class="col-12 col-sm-6">
            <a href="#">
              <img class="img-fluid mt-3" src="{% static 'frontend/images/footer-logo.png' %}" alt="">
            </a>
        </div>
        <div class="col-12 col-sm-6 text-right footer-social d-none d-sm-block">
            <span class="footer-social-icons">
                <img src="{% static 'frontend/images/icons/fb-black.png' %}">
            </span>
            <span class="footer-social-icons">
                <img src="{% static 'frontend/images/icons/twitter-black.png' %}">
            </span>
            <span class="footer-social-icons">
                <img src="{% static 'frontend/images/icons/linkin-black.png' %}">
            </span>
            <span class="footer-social-icons">
                <img src="{% static 'frontend/images/icons/insta-black.png' %}">
            </span>
            <span class="footer-social-icons">
                <img src="{% static 'frontend/images/icons/youtube-black.png' %}">
            </span>
        </div>
    </div>
    <hr />

    <div class="row p-5" id="footer-items">
        <div class="col-lg-3 col-md-6 col-sm-6 footer-items">
            <h2 class="footer-heading">Need help</h2>
            <a href="{% url 'login' %}" style="text-decoration: none;"><h4>Member Login</h4> </a>
            <a href="{% url 'register' %}" style="text-decoration: none;"><h4>Sign Up</h4></a>
            <h4>Partner Search</h4>
            <h4>How To Use</h4>
            <h4>Nodowrymarriage.com</h4>
            <h4>Premium Memberships</h4>
            <h4>Cusomer Support</h4>
            <h4>Site Map</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 footer-items">
            <h2 class="footer-heading">Company</h2>
            <h4>About Us</h4>
            <h4>Shaadi Blog</h4>
            <h4>Careers</h4>
            <h4>Awards & Recognition</h4>
            <h4>Conatct Us</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 footer-items">
            <h2 class="footer-heading">Privacy & You</h2>
            <h4>Terms of use</h4>
            <h4>Privacy Policy</h4>
            <h4>Be Safe Online</h4>
            <h4>Report Misuse</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 footer-items">
            <h2 class="footer-heading">More</h2>
            <h4>Vip Weddings</h4>
            <h4>Select Weddings</h4>
            <h4>Sangam</h4>
            <h4>Wedding Centres</h4>
            <h4>Success Stories</h4>
        </div>
        <div class="col-12 text-center footer-items p-4">
            <h4>2019 Nodowrymarriage.com All rights reserved</h4>
        </div>
    </div>
  </div>
</section>