{% extends 'frontend/base-bootstrap.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'frontend/css/filter.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
    <link href="{% static 'frontend/css/profile-details.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <!-- nav bar starts here -->
    {% include "frontend/filter-nav.html" %}
    <!-- nav bar ends-->
    <section class="section1 pt-2">
        <div class="container-fluid">
            <div class="row">
                <!-- col stars here-->
                <div class="col-lg-9">
                    <div class="px-md-5 py-5">

                        <!-- basic info starts here -->
                        <div class="card">
                            <div class="card-body basic-info">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% for images in partner_images %}
                                            {% if images.is_profile_pic %}
                                                <img src="media/{{ images.file }}" class="img-fluid">
                                            {% endif %}
                                        {% endfor %}
                                        <div class="">
                                            <div class="row">
                                                <div class="pl-3">
                                                    <div id="carouselExample" class="carousel slide" data-ride="carousel"
                                                     data-interval="9000">
                                                        <div class="carousel-inner row w-100" role="listbox">
                                                            <div class="carousel-item col-md-4 active">
                                                                <img class="img-fluid mx-auto d-block"
                                                                     src="//placehold.it/600x400?text=2" alt="slide 1">
                                                            </div>
                                                            <div class="carousel-item col-md-4">
                                                                <img class="img-fluid mx-auto d-block"
                                                                     src="//placehold.it/600x400?text=2" alt="slide 2">
                                                            </div>
                                                            <div class="carousel-item col-md-4">
                                                                <img class="img-fluid mx-auto d-block"
                                                                     src="//placehold.it/600x400?text=3" alt="slide 3">
                                                            </div>
                                                            <div class="carousel-item col-md-4">
                                                                <img class="img-fluid mx-auto d-block"
                                                                     src="//placehold.it/600x400?text=4" alt="slide 4">
                                                            </div>
                                                        </div>
                                                        <a class="carousel-control-prev" href="#carouselExample"
                                                           role="button" data-slide="prev">
                                                            <i class="fa fa-chevron-left fa-lg text-muted"></i>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next text-faded" href="#carouselExample"
                                                           role="button" data-slide="next">
                                                            <i class="fa fa-chevron-right fa-lg text-muted"></i>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h5><span><i class="fa fa-user"
                                                     aria-hidden="true"></i></span> {{ parter_profile.user.first_name }}
                                        </h5>
                                        <p>Profile Created For Myself</p>
                                        <p><span><i class="fa fa-calendar-o"
                                                    aria-hidden="true"></i></span> {{ parter_info.age }}
                                            Yrs, {{ parter_info.height }} CM</p>
                                        <p><span><i class="fa fa-book"
                                                    aria-hidden="true"></i></span> {{ parter_info.religion }}, {{ parter_info.cast }}, {{ parter_info.subcast }}
                                        </p>
                                        <p><span><i class="fa fa-map-marker"
                                                    aria-hidden="true"></i> </span> {{ parter_info.city }}, {{ parter_info.dist }}, {{ parter_info.state }}
                                        </p>
                                        <p><span><i class="fa fa-graduation-cap"
                                                    aria-hidden="true"></i></span> {{ parter_info.profession }} <span
                                                style="font-size: 12px">{{ parter_info.education }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- basic info ends here -->

                        <!-- basic details starts here -->
                        <div class="py-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <h5 class="card-header">Basic Details</h5>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="row">
                                                        <div class="col-xl-8 col-6">
                                                            <p>Profile created for <span class="float-right">:</span>
                                                            </p>
                                                            <p>Age <span class="float-right">:</span></p>
                                                            <p>Height <span class="float-right">:</span></p>
                                                            <p>Weight <span class="float-right">:</span></p>
                                                            <p>Body Type <span class="float-right">:</span></p>

                                                        </div>
                                                        <div class="col-xl-4 col-6">
                                                            <p>Myself</p>
                                                            <p>{{ parter_info.age }}</p>
                                                            <p>{{ parter_info.height }}</p>
                                                            <p>{{ parter_info.weight }}</p>
                                                            <p>{{ parter_info.bodytype }}</p>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p>Gender <span class="float-right">:</span></p>
                                                            <p>Mother Tongue <span class="float-right">:</span></p>
                                                            <p>Marital Status <span class="float-right">:</span></p>
                                                            <p>Complexion <span class="float-right">:</span></p>
                                                            <p>Physical type <span class="float-right">:</span></p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p>{% if parter_profile.gender == women %}
                                                                Female
                                                            {% else %}
                                                                Male
                                                            {% endif %}
                                                            </p>
                                                            <p>{{ parter_info.mother_tongue }}</p>
                                                            <p>{{ parter_info.marital_status }}</p>
                                                            <p> ... </p>
                                                            <p>{{ parter_info.physical_status }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- basic details end here -->


                        <!-- Religious info starts here -->
                        <div class="py-4">
                            <div class="card">
                                <h5 class="card-header">Religious Information</h5>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p>Religion <span class="float-right">:</span></p>
                                                    <p>Subcaste <span class="float-right">:</span></p>
                                                    <p>Star</p>
                                                </div>
                                                <div class="col-8">
                                                    <p>{{ parter_info.religion }}</p>
                                                    <p>{{ parter_info.subcast }}</p>
                                                    <p>{{ parter_info.star }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p>Cast <span class="float-right">:</span></p>
                                                    <p>Gotra <span class="float-right">:</span></p>
                                                    <p>Dosh <span class="float-right">:</span></p>

                                                </div>
                                                <div class="col-8">
                                                    <p>{{ parter_info.cast }}</p>
                                                    <p>{{ parter_info.gotra }}</p>
                                                    <p>NO Dosh</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Religious info end here -->


                        <!-- Location info end here -->
                        <div class="py-4">
                            <div class="card">
                                <h5 class="card-header">Location Information</h5>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p>Address <span class="float-right">:</span></p>
                                                    <p>Dist <span class="float-right">:</span></p>

                                                </div>
                                                <div class="col-8">
                                                    <p>{{ parter_info.address }}</p>
                                                    <p>{{ parter_info.dist }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p>City <span class="float-right">:</span></p>
                                                    <p>State <span class="float-right">:</span></p>

                                                </div>
                                                <div class="col-8">
                                                    <p>{{ parter_info.city }}</p>
                                                    <p>{{ parter_info.state }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Location info end here -->


                        <!-- LifeStyle start here -->
                        <div class="py-4">
                            <div class="card">
                                <h5 class="card-header">LifeStyle</h5>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p>Eating Habits <span class="float-right">:</span></p>
                                                    <p>Drinking Habits <span class="float-right">:</span></p>

                                                </div>
                                                <div class="col-8">
                                                    <p>{{ parter_info.eating }}</p>
                                                    <p>{{ parter_info.drinking }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p>Smoking Habits <span class="float-right">:</span></p>
                                                    <p>Hobies <span class="float-right">:</span></p>


                                                </div>
                                                <div class="col-8">
                                                    <p>{{ parter_info.smoking }}</p>
                                                    <p>Games</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- LifeStyle end here -->


                        <!-- Professional starts here -->
                        <div class="py-4">
                            <div class="card">
                                <h5 class="card-header">Professional Details</h5>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p>Profession <span class="float-right">:</span></p>


                                                </div>
                                                <div class="col-8">
                                                    <p>{{ parter_info.profession }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p>Education <span class="float-right">:</span></p>


                                                </div>
                                                <div class="col-8">
                                                    <p>{{ parter_info.education }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Professional end here -->

                    </div>
                </div>
                <!-- col lg-9 ends here -->


                <!-- col lg-3  ends here -->
                <div class="d-none d-lg-block col-lg-3">
                    <div class="pt-5 pr-md-5">

                        <!-- Search by profile Id -->
                        <div class="card">
                            <div class="card-header">
                                Search by profile Id
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="NDM ID">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Search by profile Id ends -->


                        <!-- similar profiles starts here -->
                        <div class="py-4">


                            <div class="card">
                                <div class="card-header">
                                    Similar Profiles
                                </div>
                                <div class="card-body">
                                    <!-- similar profiles card -->
                                    <div class="card similar-profiles my-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <img class="img-fluid"
                                                     src="/static/frontend/images/gallery/vijay-govid.jpg" alt="">
                                            </div>
                                            <div class="col-8">
                                                <ul class="p-0">
                                                    <li><h6 class="pt-1">Vijay Govind</h6></li>
                                                    <li><span>NDM103</span></li>
                                                    <li><span>25 yrs, 170cm</span></li>
                                                    <li><span>Hindu, Nair, Menon</span></li>
                                                    <li><span>Software Professional</span></li>
                                                    <li><span><a class="text-warning" href="">View Profile</a></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card similar-profiles my-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <img class="img-fluid"
                                                     src="/static/frontend/images/gallery/vijay-govid.jpg" alt="">
                                            </div>
                                            <div class="col-8">
                                                <ul class="p-0">
                                                    <li><h6 class="pt-1">Vijay Govind</h6></li>
                                                    <li><span>NDM103</span></li>
                                                    <li><span>25 yrs, 170cm</span></li>
                                                    <li><span>Hindu, Nair, Menon</span></li>
                                                    <li><span>Software Professional</span></li>
                                                    <li><span><a class="text-warning" href="">View Profile</a></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card similar-profiles my-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <img class="img-fluid"
                                                     src="/static/frontend/images/gallery/vijay-govid.jpg" alt="">
                                            </div>
                                            <div class="col-8">
                                                <ul class="p-0">
                                                    <li><h6 class="pt-1">Vijay Govind</h6></li>
                                                    <li><span>NDM103</span></li>
                                                    <li><span>25 yrs, 170cm</span></li>
                                                    <li><span>Hindu, Nair, Menon</span></li>
                                                    <li><span>Software Professional</span></li>
                                                    <li><span><a class="text-warning" href="">View Profile</a></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card similar-profiles my-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <img class="img-fluid"
                                                     src="/static/frontend/images/gallery/vijay-govid.jpg" alt="">
                                            </div>
                                            <div class="col-8">
                                                <ul class="p-0">
                                                    <li><h6 class="pt-1">Vijay Govind</h6></li>
                                                    <li><span>NDM103</span></li>
                                                    <li><span>25 yrs, 170cm</span></li>
                                                    <li><span>Hindu, Nair, Menon</span></li>
                                                    <li><span>Software Professional</span></li>
                                                    <li><span><a class="text-warning" href="">View Profile</a></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card similar-profiles my-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <img class="img-fluid"
                                                     src="/static/frontend/images/gallery/vijay-govid.jpg" alt="">
                                            </div>
                                            <div class="col-8">
                                                <ul class="p-0">
                                                    <li><h6 class="pt-1">Vijay Govind</h6></li>
                                                    <li><span>NDM103</span></li>
                                                    <li><span>25 yrs, 170cm</span></li>
                                                    <li><span>Hindu, Nair, Menon</span></li>
                                                    <li><span>Software Professional</span></li>
                                                    <li><span><a class="text-warning" href="">View Profile</a></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- similar profiles card ends -->
                                </div>
                            </div>
                        </div>
                        <!-- similar profiles ends here -->

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extrascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script>
        $('#recipeCarousel').carousel({
            interval: 10000
        })

        $('.carousel .carousel-item').each(function () {
            var minPerSlide = 3;
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < minPerSlide; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });

    </script>
{% endblock %}