{% load static %}
<div class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" data-color="blue">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!-- basic info starts here-->
                        <section id="section1" class="basic-info p-md-5">
                            <div class="modal-header">
                                <h3 class="text-center">Profile Details</h3>
                            </div>

                            <!-- form starts here -->
                            <form id="profileImage" name="profileImage" method="post" action="{% url 'upload-image' %}"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <!-- col starts here -->
                                    <div class="col-md-4">
                                        <input name="id" id="userId" type="text" value="{{ user_profile.userinfo.id }}"
                                               hidden>
                                        {% if user_profile.profile_pic %}
                                            <img class="profile-details-pic pb-2" src="/media/{{ user_profile.profile_pic }}"
                                                 alt="">
                                        {% endif %}
                                        <div class="p-5 text-center">
                                            <label for='photos' style="display: block;">
                                                <img class="add-more cursor-pointer" src="{% static 'frontend/images/add.png' %}" alt="">
{#                                                <i class="fa fa-camera" aria-hidden="true"></i>#}
{#                                                <i class="fa fa-picture-o fa-2x cursor-pointer" aria-hidden="true" role="button"></i>#}
                                            </label>
                                            <input type="file" id="photos" name="photos" onchange="uploadPhoto()" multiple accept="image/*"
                                                   hidden/>
                                        </div>
                                    </div>
                                    <!-- col ends here -->

                                    <!-- col starts here -->
                                    <div class="col-md-8">

                                        <!-- name input stats here -->
                                        <div class="row">
                                            <div class="col-md-2 p-2">
                                                Name:
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control login-form"
                                                           value="{{ user_profile.user.first_name }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- name input ends here -->

                                        <!-- read only input date stars here -->
                                        <div class="row">
                                            <div class="col-md-2 p-2">
                                                DOB:
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control login-form"
                                                           value="{{ user_profile.userinfo.dob }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- input date ends here -->

                                        <!-- read only Gender stars here -->
                                        <div class="row">
                                            <div class="col-md-2 p-2">
                                                Gender:
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    {% if user_profile.gender == 'men' %}
                                                        <input type="text" class="form-control login-form" value="Male"
                                                               readonly>
                                                    {% else %}
                                                        <input type="text" class="form-control login-form"
                                                               value="Female" readonly>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                        <!-- Gender ends here -->

                                        <!-- read only email stars here -->
                                        <div class="row">
                                            <div class="col-md-2 p-2">
                                                Email:
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control login-form"
                                                           value="{{ user_profile.user.email }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- email ends here -->


                                        <div class="row">
                                            <div class="col-md-2 p-2">
                                                Phone No:
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control login-form"
                                                           value="{{ user_profile.phone_number }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col ends here -->

                                </div>
                                <!-- row ends here -->

                                <!-- row starts here -->
{#                                <div class="row">#}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="grid effect-2" id="grid">
                                                {% for images in user_images %}
                                                    <div class="item">
                                                        <img src="/media/{{ images.file }}" id="img{{ images.id }}"
                                                             alt=""/>
                                                        <i class="fa fa-trash delete-button cursor-pointer" id="icon{{ images.id }}"
                                                           aria-hidden="true" onclick="DeleteImage({{ images.id }})"></i>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
{#                                    {% for images in user_images %}#}
{#                                        {% if not images.is_profile_pic %}#}
{#                                            <div class="col-md-2">#}
{#                                                <img class="user-images pb-2" src="/media/{{ images.file }}" alt="">#}
{#                                                <img class="remove-image cursor-pointer" src="{% static 'frontend/images/minus.png' %}"#}
{#                                                     onclick="DeleteImage({{ images.id }})" alt="">#}
{#                                            </div>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </div>#}
                                <!-- row ends here -->

                            </form>
                            <!-- form images section ends here -->

                            <!-- row starts here -->
                            <div class="row justify-content-end">
                                <div class="col-md-2">
                                    <button class="btn btn-orange" onclick="hideSection1()">Continue</button>
                                </div>
                            </div>
                            <!-- row ends here -->
                            <div class="row pt-3">
                                <div class="col-md-12 text-center">
                                    <div class="alert alert-danger d-none" id="maximumImages" role="alert">
                                      You can only upload a maximum of 10 Images
                                    </div>
                                </div>
                            </div>

                         </section>
                        <!-- personal info ends here-->

                        <!-- personal details starts here -->
                        <section id="section2" class="personal-info p-md-5" style="display: none">

                            <!-- modal header starts here -->
                            <div class="modal-header">
                                <h3 class="modal-title w-100 text-center">Personal Details</h3>
                            </div>
                            <!-- modal header starts here -->

                            <div class="personal-details py-3">
                                <div class="user-location">
                                    <h5>Location :- </h5>
                                    <div class="p-1">
                                        <div class="row">
                                            <div class="col-md-2 pt-2">
                                                Address: *
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="address" placeholder="Address">
                                                    <div class="error-helper py-1 text-danger" id="address-error"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2 pt-2">
                                                State: *
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="state" id="state-dropdown" class="form-control"
                                                            onchange="selectDist()">
                                                    </select>
                                                    <div class="error-helper py-1 text-danger" id="state-error"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 pt-2">
                                                District: *
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="dist" id="dist-dropdown" class="form-control"
                                                            onchange="selectCity()">
                                                        <option selected="selected" disabled>Select State:</option>
                                                    </select>
                                                    <div class="error-helper py-1 text-danger" id="dist-error"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 pt-2">
                                                City: *
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="city" id="city-dropdown" class="form-control">
                                                        <option selected="selected" disabled>Select District:</option>
                                                    </select>
                                                    <div class="error-helper py-1 text-danger" id="city-error"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="community">
                                    <h5>Community</h5>

                                    <div class="p-1">

                                        <div class="row">
                                            <div class="col-md-2 pt-2">
                                                Religion: *
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="religion" id="religion-dropdown" class="form-control"
                                                            onchange="selectCast()">
                                                        <option selected="selected" disabled>Select Religion </option>
                                                        {% for religion in religion_list %}
                                                            <option value="{{ religion }}">{{ religion }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="error-helper py-1 text-danger" id="religion-error"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 pt-2">
                                                Cast: *
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="cast" id="cast-dropdown" class="form-control">
                                                    <option selected="selected" disabled>Select Religion </option>
                                                    </select>
                                                </div>
                                                <div class="error-helper py-1 text-danger" id="cast-error"></div>
                                            </div>
{#                                            <div class="col-md-2 pt-2">#}
{#                                                Sub Cast:#}
{#                                            </div>#}
{#                                            <div class="col-md-4">#}
{#                                                <div class="form-group">#}
{#                                                    <select name="sub-cast" id="subcast-dropdown" class="form-control">#}
{#                                                    </select>#}
{#                                                </div>#}
{#                                            </div>#}
                                        </div>
                                    </div>

                                </div>


                                <div class="profession">
                                    <h5>Professional</h5>
                                    <div class="p-1">


                                        <div class="row">
                                            <div class="col-md-2 pt-2">
                                                Education:
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="education" id="education" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 pt-2">
                                                Professional Details:
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="professional-details">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="astro">
                                    <h5>Astrology</h5>
                                    <div class="p-2">
                                        <div class="row">

                                            <div class="col-md-2 pt-2">
                                                Star:
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="star" class="form-control" id="star-dropdown">
                                                        <option selected="selected" disabled>Select Star </option>
                                                        <option value="Ashvini">Ashvini</option>
                                                        <option value="Bharani">Bharani</option>
                                                        <option value="Karhika">Karhika</option>
                                                        <option value="Rohini">Rohini</option>
                                                        <option value="Mrigashīrsha">Mrigashīrsha</option>
                                                        <option value="Ardra">Ardra</option>
                                                        <option value="Pushya">Pushya</option>
                                                        <option value="Āshleshā">Āshleshā</option>
                                                        <option value="Maghā">Maghā</option>
                                                        <option value="Hasta">Hasta</option>
                                                        <option value="Nandhi">Khilaivar</option>
                                                        <option value="Nandhi">Pachori</option>
                                                        <option value="Nandhi">Nandhi</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-md-2 pt-2">
                                                Dosh:
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="gotra" class="form-control" id="dosh-dropdown">
                                                        <option selected="selected" disabled>Select Dosh </option>
                                                        <option value="No-Dosh">No-Dosh</option>
                                                        <option value="Manglik">Manglik</option>
                                                        <option value="Nadi">Nadi</option>
                                                        <option value="Pitra">Pitra</option>
                                                        <option value="Kartik">Kartik</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-md-2 pt-2">
                                                Gothra:
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="gotra" class="form-control" id="gotra-dropdown">
                                                        <option selected="selected" disabled>Select Gothra</option>
                                                        <option value="Nandhi">Nandhi</option>
                                                        <option value="Bhargava">Bhargava</option>
                                                        <option value="Dubey">Dubey</option>
                                                        <option value="Gaur">Gaur</option>
                                                        <option value="Upamanyu">Upamanyu</option>
                                                        <option value="Uttam">Uttam</option>
                                                        <option value="Vishnu">Vishnu</option>
                                                        <option value="Vishvamitra">Vishvamitra</option>
                                                        <option value="Vishrava">Vishrava</option>
                                                        <option value="Shringi">Shringi</option>
                                                        <option value="Nandhi">Khilaivar</option>
                                                        <option value="Nandhi">Pachori</option>
                                                        <option value="Nandhi">Nandhi</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="general">
                                    <h5>General Info</h5>
                                    <div class="p-2">
                                        <div class="row">
                                            <div class="col-md-2 pt-2">
                                                Body Type:
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="body-type" class="form-control" id="body-type">
                                                        <option selected="selected" disabled>Select Body Type</option>
                                                        <option value="Fat">Fat</option>
                                                        <option value="Slim">Slim</option>
                                                        <option value="Normal">Normal</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 pt-2">
                                                Drinking:
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <select name="drinking" class="form-control" id="drinking">
                                                            <option selected="selected" disabled>Select Drinking Habits</option>
                                                            <option value="Never-Drink">Never-Drink</option>
                                                            <option value="Drink-Occasionally">Drink-Occasionally</option>
                                                            <option value="Frequently">Frequently</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 pt-2">
                                                Smoking:
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="smoking" class="form-control" id="smoaking">
                                                        <option selected="selected" disabled>Select Smoking</option>
                                                        <option value="Never-Smoked">Never-Smoked</option>
                                                        <option value="Smoking">Smoking</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 pt-2">
                                                Eating:
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="eating" class="form-control" id="eating">
                                                        <option selected="selected" disabled>Select Eating</option>
                                                        <option value="Vegetarian">Vegetarian</option>
                                                        <option value="Non-Vegetarian">Non-Vegetarian</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-2 pt-2">
                                                Marital Status:
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="marital" class="form-control" id="marital-status">
                                                        <option selected="selected" disabled>Select Marital Status</option>
                                                        <option value="Single">Single</option>
                                                        <option value="Divorced">Divorced</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 pt-2">
                                                Physical Status:
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="physical" class="form-control" id="physical-status">
                                                        <option selected="selected" disabled>Physical Status</option>
                                                        <option value="Healthy">Healthy</option>
                                                        <option value="Athletic">Athletic</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 pt-2">
                                                Height: *
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="number" id="height" name="height" class="form-control"
                                                           placeholder="Height in Centimeters">
                                                    <div class="error-helper py-1 text-danger" id="height-error"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 pt-2">
                                                Weight: *
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="number" id="weight" name="weight" class="form-control"
                                                           placeholder="Weight in Kg">
                                                    <div class="error-helper py-1 text-danger" id="weight-error"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                About : *
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <textarea name="about" id="about" class="form-control" rows="3" minlength="150" maxlength="500" placeholder="Minimum 150 characters"></textarea>
                                                    <div class="error-helper py-1 text-danger" id="about-error"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row justify-content-end">
                                    <div class="px-2">
                                        <button class="btn btn-orange" onclick="showSection1()">Back</button>
                                        <button class="btn btn-orange" onclick="hideSection2()">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- personal details ends here -->

                        <!-- Partner Preference -->
                        <section class="personal-info p-md-5" id="section3" style="display: none">


                            <div class="card-header">
                                <h4 class="text-center">Partner preferences</h4>
                            </div>
                            <div class="personal-details py-4">

                                <div class="row">
                                    <div class="col-md-2 pt-2">
                                        Body Type:
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select name="body-type-partner" class="form-control" id="bodyTypePartner">
                                                <option selected="selected" disabled>Select</option>
                                                <option value="Fat">Fat</option>
                                                <option value="Slim">Slim</option>
                                                <option value="Normal">Normal</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1 pt-2">
                                        Age:
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-control agefrom" onchange='changeAge(this.value);'
                                                    id="ageFrom">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1 pt-2 text-center">
                                        To
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select name="body-type-partner" class="form-control ageto" id="ageTo">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 pt-2">
                                        Physical Status:
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="physical-partner" class="form-control" id="physicalParter">
                                                <option selected="selected" disabled>Select</option>
                                                <option value="Doesn't Matter">Doesn't Matter</option>
                                                <option value="Healthy">Healthy</option>
                                                <option value="Athletic">Athletic</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pt-2">
                                        Marital Status:
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="maritial-partner" class="form-control" id="maritialParter">
                                                <option selected="selected" disabled>Select</option>
                                                <option value="Single">Single</option>
                                                <option value="Divorced">Divorced</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pt-2">
                                        Religion:
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="religion-partner" id="religion-dropdown-partner"
                                                    class="form-control" onchange="selectCastPartner()">
                                                <option selected="selected" disabled>Select</option>
                                                {% for religion in religion_list %}
                                                    <option value="{{ religion }}">{{ religion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pt-2">
                                        Cast:
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="cast" id="cast-dropdown-partner" class="form-control">
                                                <option selected="selected" disabled>Select</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-2 pt-2">
                                        Mother Tongue:
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="mother-tongue" id="mother-tongue-partner"
                                                    class="form-control">
                                                <option selected="selected" disabled>Select</option>
                                                {% for language in mother_tongue %}
                                                    <option value="{{ language.id }}">{{ language }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pt-2">
                                        Gothram:
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="gotra-partner" class="form-control" id="gotra-partner">
                                                <option selected="selected" disabled>Select Gotra</option>
                                                <option value="Nandhi">Nandhi</option>
                                                <option value="Bhargava">Bhargava</option>
                                                <option value="Dubey">Dubey</option>
                                                <option value="Gaur">Gaur</option>
                                                <option value="Upamanyu">Upamanyu</option>
                                                <option value="Uttam">Uttam</option>
                                                <option value="Vishnu">Vishnu</option>
                                                <option value="Vishvamitra">Vishvamitra</option>
                                                <option value="Vishrava">Vishrava</option>
                                                <option value="Shringi">Shringi</option>
                                                <option value="Khilaivar">Khilaivar</option>
                                                <option value="Pachori">Pachori</option>
                                                <option value="Nandhi">Nandhi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pt-2">
                                        Star:
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="star-patner" class="form-control" id="star-patner">
                                                <option selected="selected" disabled>Select Star</option>
                                                <option value="Ashvini">Ashvini</option>
                                                <option value="Bharani">Bharani</option>
                                                <option value="Karhika">Karhika</option>
                                                <option value="Rohini">Rohini</option>
                                                <option value="Mrigashīrsha">Mrigashīrsha</option>
                                                <option value="Ardra">Ardra</option>
                                                <option value="Pushya">Pushya</option>
                                                <option value="Āshleshā">Āshleshā</option>
                                                <option value="Maghā">Maghā</option>
                                                <option value="Hasta">Hasta</option>
                                                <option value="Nandhi">Khilaivar</option>
                                                <option value="Nandhi">Pachori</option>
                                                <option value="Nandhi">Nandhi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pt-2">
                                        Dosh:
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="dosh-partner" class="form-control" id="dosh-partner">
                                                <option selected="selected" disabled>Select Dosh</option>
                                                <option value="Doesn't Matter">Doesn't Matter</option>
                                                <option value="Manglik">Manglik</option>
                                                <option value="Nadi">Nadi</option>
                                                <option value="Pitra">Pitra</option>
                                                <option value="Kartik">Kartik</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pt-2">
                                        Location:
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Location">
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-md-3">
                                        <button class="btn btn-orange" onclick="showSection2()">Back</button>
                                        <button class="btn btn-orange" onclick="saveForm()">Save</button>
                                        <button type="button" class="btn btn-secondary" id="modal-close-btn" hidden data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Partner preference ends here -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade profile-result-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-radius">
        <div class="p-5">
            <h3 class="text-center text-blue results-header" id="results-header">Here is your search results</h3>
            <div class="result-display">
            </div>
            <h4 class="text-center pt-5">
                Want to see more profiles?
            </h4>
            <div class="row justify-content-center">
                <div class="col-md-2 pt-2">
                    <a href="{% url 'login' %}">
                    <button class="btn-orange m-0 py-3 px-4" style="border: none;">Login</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
  </div>
</div>