{% extends 'frontend/base-bootstrap.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'frontend/css/filter.css' %}" rel="stylesheet"/>
    <link href="{% static 'frontend/css/profile.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<!-- navbar -->
    {% include "frontend/filter-nav.html" %}
<!-- navber ends-->
<div class="profile-screen">
    <section id="section1" class="basic-info p-md-5">
        <div class="container">
            <div class="">
                <div class="card profile">
                    <div class="card-header">
                        <h4>Basic Details</h4>
                    </div>
                    <div class="card-body">
                        <form id="profileImage" method="post" action="{% url 'upload-image' %}"  enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-2">
                                    <input name="id" type="text" value="{{ user_profile.userinfo.id }}" hidden>
                                    {% for images in user_images %}
                                        {% if images.is_profile_pic %}
                                            <img class="profile-pic pb-2" src="/media/{{ images.file }}" alt="">
                                        {% endif %}
                                    {% endfor %}
                                    <label for='photos' style="display: block;">
                                        <img class="add-more" src="{% static 'frontend/images/plus-1270001_1280.png' %}" alt="">
                                    </label>
                                    <input type="file" id="photos" name="photos" onchange="uploadPhoto()" multiple hidden />
                                </div>
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-2 p-2">
                                            Name:
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                            <input type="text" class="form-control login-form" value="{{ user_profile.user.first_name }}" readonly>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 p-2">
                                            DOB:
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                            <input type="text" class="form-control login-form" value="{{ user_profile.userinfo.dob }}" readonly>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 p-2">
                                            Email:
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                            <input type="text" class="form-control login-form" value="{{ user_profile.user.email }}" readonly>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 p-2">
                                            Phone No:
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                            <input type="text" class="form-control login-form" value="{{ user_profile.phone_number }}" readonly>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 p-2">
                                            Gender:
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                            <input type="text" class="form-control login-form" value="{{ user_profile.gender }}" readonly>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    {% for images in user_images %}
                                        {% if not images.is_profile_pic %}
                                            <div class="col-md-2">
                                            <img class="user-images pb-2" src="/media/{{ images.file }}" alt="">
                                            <img class="remove-image" src="{% static 'frontend/images/minus.png' %}" onclick="DeleteImage({{ images.id }})" alt="">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        </form>
                        <div class="row justify-content-end">
                            <div class="col-md-2">
                                <button class="btn" onclick="hideSection1()">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section2" class="personal-info p-md-5" style="display: none">
        <div class="container">
            <div class="">
                <div class="card profile">
                    <div class="card-header">
                        <h4>Personal Details</h4>
                    </div>
                    <div class="card-body personal-details">
                        <div class="row">
                            <div class="col-md-2 pt-2">
                                Address:
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 pt-2">
                                State:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Dist:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                City:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Religion:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Cast:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Sub Cast:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 pt-2">
                                Gothra:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Star:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Dosh:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Body TYpe:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Drinking:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Smoking:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Education:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Professional Details:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Marital Status:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Physical Satus:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-1 pt-2">
                                Height:
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-1 pt-2">
                                Weight:
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-3">
                                <button class="btn" onclick="showSection1()">Back</button>
                                <button class="btn" onclick="hideSection2()">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="personal-info p-md-5" id="section3" style="display: none">
        <div class="container">
            <div class="">
                <div class="card profile">
                    <div class="card-header">
                        <h4>Partner preferences</h4>
                    </div>
                    <div class="card-body personal-details">
                        <div class="row">
                            <div class="col-md-2 pt-2">
                                Body Type:
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-1 pt-2">
                                Age:
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-1 pt-2 text-center">
                                To
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 pt-2">
                                Physical Status:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Marital Status:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Religion:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Cast:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Sub-Cast:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Gothram:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Star:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Dosh:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-3">
                                <button class="btn" onclick="showSection2()">Back</button>
                                <button class="btn">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block extrascript %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
    function uploadPhoto() {
        console.log("images uploaded");
        document.getElementById("profileImage").submit();
    }

    function DeleteImage(imgId) {
       console.log(imgId);
       {#$.post( '/delete-image', {imgId: imgId} );#}
       var request = $.ajax({
          url: "/delete-image",
          type: "POST",
          data: {imgId : imgId},
          success: function(response){
           location.reload();
        }
        });
    }

    function hideSection1() {
        $('#section1').hide();
        $('#section2').fadeIn( "slow" );
    }
    function showSection1() {
        $('#section1').fadeIn( "slow" );
        $('#section2').hide();
    }
    function hideSection2() {
        $('#section2').hide();
        $('#section3').fadeIn( "slow" );
    }
    function showSection2() {
        $('#section2').fadeIn( "slow" );
        $('#section3').hide();
    }
    </script>
{% endblock %}
