{% extends 'frontend/base-bootstrap.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'frontend/css/filter.css' %}" rel="stylesheet"/>
    <link href="{% static 'frontend/css/profile.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<!-- navbar -->
    {% include "frontend/filter-nav.html" %}
<!-- navber ends-->

    <div class="container-fluid">
        <div class="profile-main p-5">
            <div class="card card-pink p-1">
                <div class="row">
                    <div class="col-1">
                        <div>
                            <img class="profile-pic" src="{% static 'frontend/images/gallery/vijay-govid.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-3">
                        <h4>{{ user_profile.user.first_name }}</h4>
                        Age : 29 <br />
                        Religion : Hindu,Nair<br />
                        Ph No: 5885588558 <br />
                        Email id: Abcd1234@ert.nju <br />
                    </div>
                    <div class="col-4">
                        <button class="btn primary">
                            <h7>Edit</h7>
                        </button>
                        <h6>NDM{{ user_profile.id }}</h6>
                    </div>
                </div>
            </div>
            <div class="p-5"></div>
            <div class="card card-pink p-1">
                <div class="row">
                    <div class="col-1">
                        <div>
                            <h4>{{ user_profile.user.first_name }}</h4>
                            Age : 29 <br />
                            Religion : Hindu,Nair<br />
                            Ph No: 5885588558 <br />
                            Email id: Abcd1234@ert.nju <br />
                        </div>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
