{% extends 'frontend/base-bootstrap.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'frontend/css/filter.css' %}" rel="stylesheet"/>
    <link href="{% static 'frontend/css/profile.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<!-- navbar -->
    {% include "frontend/filter-nav.html" %}
<!-- navber ends-->
<div class="profile-screen">
    <section id="section1" class="basic-info p-md-5">
        <div class="container">
            <div class="">
                <div class="card profile">
                    <div class="card-header">
                        <h4>Basic Details</h4>
                    </div>
                    <div class="card-body">
                        <form id="profileImage" method="post" action="{% url 'upload-image' %}"  enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-2">
                                    <input name="id" type="text" value="{{ user_profile.userinfo.id }}" hidden>
                                    {% for images in user_images %}
                                        {% if images.is_profile_pic %}
                                            <img class="profile-pic pb-2" src="/media/{{ images.file }}" alt="">
                                        {% endif %}
                                    {% endfor %}
                                    <label for='photos' style="display: block;">
                                        <img class="add-more" src="{% static 'frontend/images/plus-1270001_1280.png' %}" alt="">
                                    </label>
                                    <input type="file" id="photos" name="photos" onchange="uploadPhoto()" multiple hidden />
                                </div>
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-2 p-2">
                                            Name:
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                            <input type="text" class="form-control login-form" value="{{ user_profile.user.first_name }}" readonly>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 p-2">
                                            DOB:
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                            <input type="text" class="form-control login-form" value="{{ user_profile.userinfo.dob }}" readonly>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 p-2">
                                            Gender:
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                {% if user_profile.gender == 'men' %}
                                                    <input type="text" class="form-control login-form" value="Male" readonly>
                                                {% else %}
                                                    <input type="text" class="form-control login-form" value="Female" readonly>
                                                {% endif %}

                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 p-2">
                                            Email:
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                            <input type="text" class="form-control login-form" value="{{ user_profile.user.email }}" readonly>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 p-2">
                                            Phone No:
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                            <input type="text" class="form-control login-form" value="{{ user_profile.phone_number }}" readonly>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    {% for images in user_images %}
                                        {% if not images.is_profile_pic %}
                                            <div class="col-md-2">
                                            <img class="user-images pb-2" src="/media/{{ images.file }}" alt="">
                                            <img class="remove-image" src="{% static 'frontend/images/minus.png' %}" onclick="DeleteImage({{ images.id }})" alt="">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        </form>
                        <div class="row justify-content-end">
                            <div class="col-md-2">
                                <button class="btn" onclick="hideSection1()">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section2" class="personal-info p-md-5" style="display: none">
        <div class="container">
            <div class="">
                <div class="card profile">
                    <div class="card-header">
                        <h4>Personal Details</h4>
                    </div>
                    <div class="card-body personal-details">
                        <div class="row">
                            <div class="col-md-2 pt-2">
                                Address:
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 pt-2">
                                State:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
{#                                    <input type="text" id="state-dropdown" >#}
                                    <select name="state" id="state-dropdown" class="form-control" onchange="selectDist()">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Dist:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="dist" id="dist-dropdown" class="form-control" onchange="selectCity()">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                City:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="city" id="city-dropdown" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Religion:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                     <select name="religion" id="religion-dropdown" class="form-control" onchange="selectCast()">
                                         {% for religion in religion_list %}
                                             <option value="{{ religion }}">{{ religion }}</option>
                                         {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Cast:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="cast" id="cast-dropdown" class="form-control" onchange="selectSubcast()" >
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Sub Cast:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="sub-cast" id="subcast-dropdown" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 pt-2">
                                Gothra:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="gotra" class="form-control">
                                        <option value="Nandhi">Nandhi</option>
                                        <option value="Nandhi">Bhargava</option>
                                        <option value="Nandhi">Dubey</option>
                                        <option value="Nandhi">Gaur</option>
                                        <option value="Nandhi">Upamanyu</option>
                                        <option value="Nandhi">Uttam</option>
                                        <option value="Nandhi">Vishnu</option>
                                        <option value="Nandhi">Vishvamitra</option>
                                        <option value="Nandhi">Vishrava</option>
                                        <option value="Nandhi">Shringi</option>
                                        <option value="Nandhi">Khilaivar</option>
                                        <option value="Nandhi">Pachori</option>
                                        <option value="Nandhi">Nandhi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Star:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="gotra" class="form-control">
                                        <option value="Ashvini">Ashvini</option>
                                        <option value="Bharani">Bharani</option>
                                        <option value="Karhika">Karhika</option>
                                        <option value="Rohini">Rohini</option>
                                        <option value="Mrigashīrsha">Mrigashīrsha</option>
                                        <option value="Ardra">Ardra</option>
                                        <option value="Pushya">Pushya</option>
                                        <option value="Āshleshā">Āshleshā</option>
                                        <option value="Maghā">Maghā</option>
                                        <option value="Hasta">Hasta</option>
                                        <option value="Nandhi">Khilaivar</option>
                                        <option value="Nandhi">Pachori</option>
                                        <option value="Nandhi">Nandhi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Dosh:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                     <select name="gotra" class="form-control">
                                        <option value="Manglik">Manglik</option>
                                        <option value="Nadi">Nadi</option>
                                        <option value="Pitra">Pitra</option>
                                        <option value="Kartik">Kartik</option>
                                     </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Body TYpe:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                   <select name="body-type" class="form-control">
                                        <option value="Fat">Fat</option>
                                        <option value="Slim">Slim</option>
                                        <option value="Normal">Normal</option>
                                     </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Drinking:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                   <select name="drinking" class="form-control">
                                        <option value="Never-Drink">Never-Drink</option>
                                        <option value="Drink-Occasionally">Drink-Occasionally</option>
                                        <option value="Frequently">Frequently</option>
                                     </select>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Smoking:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="smoking" class="form-control">
                                        <option value="Never-Smoked">Never-Smoked</option>
                                        <option value="Smoking">Smoking</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Education:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="education" id="education" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Professional Details:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Marital Status:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="maritial" class="form-control">
                                        <option value="Single">Single</option>
                                        <option value="Married">Married</option>
                                        <option value="Divorced">Divorced</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Physical Satus:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="physical" class="form-control">
                                        <option value="Healthy,">Healthy,</option>
                                        <option value="Athletic">Athletic,</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1 pt-2">
                                Height:
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="number" name="height" class="form-control" placeholder="Height in Centimeters">
                                </div>
                            </div>
                            <div class="col-md-1 pt-2">
                                Weight:
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="number" name="weight" class="form-control" placeholder="Weight in Centimeters">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-3">
                                <button class="btn" onclick="showSection1()">Back</button>
                                <button class="btn" onclick="hideSection2()">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="personal-info p-md-5" id="section3" style="display: none">
        <div class="container">
            <div class="">
                <div class="card profile">
                    <div class="card-header">
                        <h4>Partner preferences</h4>
                    </div>
                    <div class="card-body personal-details">
                        <div class="row">
                            <div class="col-md-2 pt-2">
                                Body Type:
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select name="body-type-partner" class="form-control">
                                        <option value="Fat">Fat</option>
                                        <option value="Slim">Slim</option>
                                        <option value="Normal">Normal</option>
                                     </select>
                                </div>
                            </div>
                            <div class="col-md-1 pt-2">
                                Age:
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <select name="body-type-partner" class="form-control agefrom" onchange='changeAge(this.value);'>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1 pt-2 text-center">
                                To
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <select name="body-type-partner" class="form-control ageto">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 pt-2">
                                Physical Status:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="physical-partner" class="form-control">
                                        <option value="Healthy,">Healthy,</option>
                                        <option value="Athletic">Athletic,</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Marital Status:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="maritial-partner" class="form-control">
                                        <option value="Single">Single</option>
                                        <option value="Married">Married</option>
                                        <option value="Divorced">Divorced</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Religion:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Cast:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Sub-Cast:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Gothram:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="gotra-partner" class="form-control">
                                        <option value="Nandhi">Nandhi</option>
                                        <option value="Nandhi">Bhargava</option>
                                        <option value="Nandhi">Dubey</option>
                                        <option value="Nandhi">Gaur</option>
                                        <option value="Nandhi">Upamanyu</option>
                                        <option value="Nandhi">Uttam</option>
                                        <option value="Nandhi">Vishnu</option>
                                        <option value="Nandhi">Vishvamitra</option>
                                        <option value="Nandhi">Vishrava</option>
                                        <option value="Nandhi">Shringi</option>
                                        <option value="Nandhi">Khilaivar</option>
                                        <option value="Nandhi">Pachori</option>
                                        <option value="Nandhi">Nandhi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Star:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="gotra-patner" class="form-control">
                                        <option value="Ashvini">Ashvini</option>
                                        <option value="Bharani">Bharani</option>
                                        <option value="Karhika">Karhika</option>
                                        <option value="Rohini">Rohini</option>
                                        <option value="Mrigashīrsha">Mrigashīrsha</option>
                                        <option value="Ardra">Ardra</option>
                                        <option value="Pushya">Pushya</option>
                                        <option value="Āshleshā">Āshleshā</option>
                                        <option value="Maghā">Maghā</option>
                                        <option value="Hasta">Hasta</option>
                                        <option value="Nandhi">Khilaivar</option>
                                        <option value="Nandhi">Pachori</option>
                                        <option value="Nandhi">Nandhi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 pt-2">
                                Dosh:
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="gotra" class="form-control">
                                        <option value="Manglik">Manglik</option>
                                        <option value="Nadi">Nadi</option>
                                        <option value="Pitra">Pitra</option>
                                        <option value="Kartik">Kartik</option>
                                     </select>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-3">
                                <button class="btn" onclick="showSection2()">Back</button>
                                <button class="btn">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block extrascript %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
    function uploadPhoto() {
        console.log("images uploaded");
        document.getElementById("profileImage").submit();
    }

    function DeleteImage(imgId) {
       console.log(imgId);
       {#$.post( '/delete-image', {imgId: imgId} );#}
       var request = $.ajax({
          url: "/delete-image",
          type: "POST",
          data: {imgId : imgId},
          success: function(response){
           location.reload();
        }
        });
    }

    function hideSection1() {
        $('#section1').hide();
        $('#section2').fadeIn( "slow" );
    }
    function showSection1() {
        $('#section1').fadeIn( "slow" );
        $('#section2').hide();
    }
    function hideSection2() {
        $('#section2').hide();
        $('#section3').fadeIn( "slow" );
    }
    function showSection2() {
        $('#section2').fadeIn( "slow" );
        $('#section3').hide();
    }

    {#let dropdown = $('#state-dropdown');#}
    {#dropdown.empty();#}
    {#dropdown.append('<option selected="true" disabled>Choose State/Province</option>');#}
    {#const url = 'https://api.myjson.com/bins/7xq2x';#}
    {##}
    {#$.getJSON(url, function (data) {#}
    {#  $.each(data, function (key, entry) {#}
    {#    dropdown.append($('<option></option>').attr('value', entry.abbreviation).text(entry.name));#}
    {#  })#}
    $( document ).ready(function() {
        $("#religion-dropdown").trigger('change');
        $("#cast-dropdown").trigger('change');
        let dropdown = $('#state-dropdown');
        dropdown.empty();
        dropdown.append('<option selected="true" disabled>Choose State/Province</option>');
        {#$.getJSON('https://api.myjson.com/bins/7xq2x', function(json) {#}
        {#    $('#state-dropdown').empty();#}
        {#    $('#state-dropdown').append($('<option>').text("Select"));#}
        {#    $.each(json, function (i, obj) {#}
        {#        $('#select').append($('<option>').text(obj.name).attr('value', obj.name));#}
        {#    });#}
      //  });
        const url = 'static/frontend/docs/state-dist-dist.json';
        $.getJSON(url, function (data) {
          $.each(data, function (entry) {
            dropdown.append($('<option></option>').attr('value', entry).text(entry));
          })
        });

        var request = $.ajax({
              url: "/select-education",
              type: 'GET',
              success: function(resultData) {
                  $('#education').empty();
                  $.each(resultData.data, function (entry, value) {
                        console.log(value.field);
                        $('#education').append($('<option></option>').attr('value', value.field).text(value.field));
                  });
              }
        });

        var $selectagefrom = $(".agefrom");
            for (i=18;i<=50;i++){
                $selectagefrom.append($('<option></option>').val(i).html(i))
            }

            var $ageto = $(".ageto");
            for (i=18;i<=50;i++){
                $ageto.append($('<option></option>').val(i).html(i))
            }


    });

    function selectDist() {
        value = $('#state-dropdown').val();
        const url = 'static/frontend/docs/state-dist-dist.json';
        $.getJSON(url, function (data) {
          $.each(data, function (entry) {
              if(entry == value){
                   $('#dist-dropdown').empty();
                  let i;
                  for( i in  data[value]){
                     $('#dist-dropdown').append($('<option></option>').attr('value', i).text(i));
                  }
              }
          })
        });
    }

    function selectCity() {
        valueState = $('#state-dropdown').val();
        valueDist = $('#dist-dropdown').val();
        const url = 'static/frontend/docs/state-dist-dist.json';
        $.getJSON(url, function (data) {
          $.each(data, function (entry) {
              if(entry == valueState){
                  let i;
                  for( i in  data[valueState]){
                     if (i == valueDist){
                         let x;
                         for(x in data[valueState][i]){
                             $('#city-dropdown').append($('<option></option>').attr('value', data[valueState][i][x]).text(data[valueState][i][x]));
                         }
                     }
                  }
              }
          })
        })
    }

    function selectCast() {
        valueReligion = $('#religion-dropdown').val();

        var request = $.ajax({
              url: "/select-cast",
              type: 'POST',
              data: {religion : valueReligion},
              success: function(resultData) {
                  $('#cast-dropdown').empty();
                  $.each(resultData.data, function (entry, value) {
                        $('#cast-dropdown').append($('<option></option>').attr('value', value.name).text(value.name));
                  });
              }
        });

        {#console.log(valueReligion);#}
    }


    function selectSubcast() {
        valueCast = $('#cast-dropdown').val();
        var request = $.ajax({
            url: "/select-sub-cast",
            type: 'POST',
            data: {cast : valueCast},
            success: function(resultData) {
             $('#subcast-dropdown').empty();
                  $.each(resultData.data, function (entry, value) {
                      $('#subcast-dropdown').append($('<option></option>').attr('value', value.name).text(value.name));
                  });
            }
        });
    }


    function changeAge(val){
            var $selectageto = $(".ageto");
            $selectageto.empty();
            for (i=val;i<=50;i++){
                $selectageto.append($('<option></option>').val(i).html(i))
            }
        }
















    </script>
{% endblock %}
