{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'dashboard/assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dashboard/assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'dashboard/assets/img/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dashboard/assets/img/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'dashboard/assets/img/favicon-96x96.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    NoDowry Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'dashboard/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'dashboard/assets/css/paper-dashboard.css' %}" rel="stylesheet" />
  <link href="{% static 'dashboard/assets/css/style.css' %}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">

    <!-- Sidebar -->
    {% include 'dashboard/sidebar.html' %}
    <!-- Sidebar ends -->


    <div class="main-panel">

      <!-- Navbar -->

      {% include 'dashboard/navbar.html' %}

      <!--  navbar ends -->


      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                      <h4 class="card-title">Testimonials</h4>
                      <div class="pt-2" data-toggle="modal" data-target=".add-testimonials"><i class="nc-icon nc-simple-add text-success cursor-pointer" style="font-size: xx-large;"></i></div>
                  </div>
              </div>
              <div class="card-body">
                {% if testimonial_list %}
                    <div class="">
                        <table class="table">
                            <tr class="text-primary">
                                <th>
                                NAME
                              </th>
                              <th>
                                Description
                              </th>
                              <th>
                                Image
                              </th>
                              <th>
                                Edit
                              </th>
                              <th>
                                Delete
                              </th>
                            </tr>
                            <tbody>
                            {% for testimonial in testimonial_list %}
                                <tr>
                                    <td>
                                      {{ testimonial.name }}
                                    </td>
                                    <td>
                                      {{ testimonial.description }}
                                    </td>
                                    <td>
                                        <img style="max-height: 110px;" src="/media/{{ testimonial.image }}" alt="">
                                    </td>
                                    <td>
                                       <a onclick="editTestimonial({{ testimonial.id }},'{{ testimonial.name }}','{{ testimonial.description }}' , '{{ testimonial.image }}')"  data-toggle="modal" data-target=".edit-testimonials">
                                           <i class="fa fa-pencil text-warning" style="font-size: x-large;"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'delete-testimonials' testimonial.id %}">
                                            <i class="fa fa-trash text-danger" style="font-size: x-large;"></i>
                                        </a>
                                    </td>
                                  </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h5>No Testimonials exist</h5>
                {% endif %}
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                      <h4 class="card-title">Awards</h4>
                      <div class="pt-2" data-toggle="modal" data-target=".add-awards"><i class="nc-icon nc-simple-add text-success cursor-pointer" style="font-size: xx-large;"></i></div>
                  </div>
              </div>
              <div class="card-body">
                {% if awards_list %}
                    <div class="">
                        <table class="table">
                            <tr class="text-primary">
                                <th>
                                Name
                              </th>
                              <th>
                                Description
                              </th>
                              <th>
                                Edit
                              </th>
                              <th>
                                Delete
                              </th>
                            </tr>
                            <tbody>
                            {% for awards in awards_list %}
                                <tr>
                                    <td>
                                      {{ awards.name }}
                                    </td>
                                    <td>
                                      {{ awards.description }}
                                    </td>
                                    <td>
                                       <a onclick="editAwards({{ awards.id }}, {{ awards.name }},{{ awards.description }} )"  data-toggle="modal" data-target=".edit-awards">
                                           <i class="fa fa-pencil text-warning" style="font-size: x-large;"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'delete-award' awards.id %}">
                                            <i class="fa fa-trash text-danger" style="font-size: x-large;"></i>
                                        </a>
                                    </td>
                                  </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h5>No Awards Exist</h5>
                {% endif %}
              </div>
            </div>
          </div>

        </div>
      </div>

      {% include 'dashboard/footer.html' %}
    </div>
  </div>

  <div class="modal fade add-testimonials" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4>Add Religion</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'dashboard-content' %}" method="post" enctype= multipart/form-data>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-center" for="testimonialName">Name</label>
                                <input type="Text" class="form-control" name="testimonialName" id="testimonialName" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-center" for="testimonialDescription">Description</label>
                                <textarea class="form-control" id="testimonialDescription" name="testimonialDescription"  cols="30" rows="10" required></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-center" for="testimonialImage">Image</label>
                                <input type="file" class="form-control" name="testimonialImage" id="testimonialImage" accept="image/x-png,image/gif,image/jpeg" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

  <div class="modal fade add-awards" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4>Add Religion</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'add-award' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-center" for="awardName">Name</label>
                                <input type="Text" class="form-control" name="awardName" id="awardName" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-center" for="awardDescription">Description</label>
                                <textarea class="form-control" id="awardDescription" name="awardDescription"  cols="30" rows="10" required></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


  <div class="modal fade edit-awards" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4>Add Religion</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-center" for="awardName">Name</label>
                                <input type="Text" class="form-control" name="EditAwardName" id="EditAwardName" required>
                                <input type="Text" name="EditAwardId" id="EditAwardId" hidden>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-center" for="awardDescription">Description</label>
                                <textarea class="form-control" id="EditAwardDescription" name="EditAwardDescription"  cols="30" rows="10" required></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade edit-testimonials" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4>Add Religion</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'edit-testimonials' %}" method="post" enctype= multipart/form-data>
                        {% csrf_token %}
                        <div class="row pt-1">
                            <div class="col-md-12">
                                <label class="text-center" for="testimonialName">Name</label>
                                <input type="Text" class="form-control" name="editTestimonialName" id="editTestimonialName" required>
                                <input type="text" name="editTestimonialId" id="editTestimonialId" hidden>
                            </div>
                        </div>

                        <div class="row pt-1">
                            <div class="col-md-12">
                                <label class="text-center" for="testimonialDescription">Description</label>
                                <textarea class="form-control" id="editTestimonialDescription" name="editTestimonialDescription"  cols="30" rows="10" required></textarea>
                            </div>
                        </div>

                        <div class="row pt-1">
                            <div class="col-md-12">
                                <label class="text-center" for="testimonialImage">Image</label>
                                <input type="file" class="form-control" name="editTestimonialImage" id="editTestimonialImage" accept="image/x-png,image/gif,image/jpeg">
                            </div>
                        </div>
                        <div class="row pt-1">
                            <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




  <!--   Core JS Files   -->
  <script src="{% static 'dashboard/assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Chart JS -->
 <script src="{% static 'dashboard/assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'dashboard/assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'dashboard/assets/js/paper-dashboard.min.js' %}" type="text/javascript"></script>
  <script>
    function editTestimonial(id, name, description, image){
          $('#editTestimonialId').val(id);
          $('#editTestimonialName').val(name);
          $('#editTestimonialDescription').val(description);
    }

   function editAwards(id, name){
          $('#EditAwardId').val(id);
          $('#EditAwardName').val(name);
          $('#EditAwardDescription').val(description);
    }

  </script>
</body>

</html>


